{% extends 'django_imager/base.html' %}

{% block title%}{{ album.title }}{% endblock %}

{% block content %}
<div class="centered">
    <img src="{{ MEDIA_URL }}{{ album.cover }}" title="{{ album.title }}" style="width: 20%;">
    <h3 class="">
      {{ album.title }}
    </h3>
</div>

{% if photos %}
<div style='text-align: center;'>
    <h1 class="header">Photos</h1>
    <div style='text-align: center;'>
      <div style='text-align: center;'>
        <h4>Photo Pages</h4>
        <h3 style='text-align: center;'>
          {% if photos.has_previous %}
          <div style='text-align: center;'>
              <a style="color: white;" href="?photo_page={{ photos.previous_page_number }}?photo_page={{ photos.number }}">previous</a>
          {% endif %}
        </h3>
        <div style='text-align: center;'>
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}
        </div>
        {% if photos.has_next %}
        <div style='text-align: center;'>
            <a style="color: white;" href="?photo_page={{ photos.next_page_number }}?photo_page={{ photos.number }}">next</a>
        </div>
        {% endif %}
        </div>
      </div>
    </div>

    {% for photo in photos %}
    <div style='text-align: center; margin-top: 2%; margin-bottom: 2%;'>

      <a href="{% url 'photo' pk=photo.id %}"><img src="{{MEDIA_URL}}{{ photo.image_file }}" style='width: 50%;'/></a>

      <h5 class="title">{{ photo.title }}</h5>
    </div>
    {% endfor %}

  <div style='text-align: center; margin-bottom: 5%;'>
    <div style='text-align: center;'>
      <h4>Photo Pages</h4>
      <h3 style='text-align: center;'>
        {% if photos.has_previous %}
        <div style='text-align: center;'>
            <a style="color: white;" href="?photo_page={{ photos.previous_page_number }}?photo_page={{ photos.number }}">previous</a>
        {% endif %}
      </h3>
      <div style='text-align: center;'>
          Page {{ photos.number }} of {{ photos.paginator.num_pages }}
      </div>
      {% if photos.has_next %}
      <div style='text-align: center;'>
          <a style="color: white;" href="?photo_page={{ photos.next_page_number }}?photo_page={{ photos.number }}">next</a>
      </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div style='text-align: center; display: inline-block;'>
    <h3>No photos in this album!</h3>
</div>
{% endif %}

<!-- <div class="centered">
    <img src="{{ MEDIA_URL }}{{ album.cover }}" title="{{ album.title }}" style="width: 20%;">
    <h3 class="">
      {{ album.title }}
    </h3>
    {% if photos %}
    {% for photo in photos %}
    <div style='text-align: center; display: inline-block;'>
        <a href="{% url 'photo' pk=photo.id %}"><img src="{{ MEDIA_URL }}{{ photo.image_file }}" title="{{ photo.title }}" style='width: 200px; height: 200px; margin-top: 10px;'></a>
    </div>
    {% endfor %}
    {% else %}
    <div style='text-align: center; display: inline-block;'>
        <h3>No photos in this album!</h3>
    </div>
    {% endif %}
</div> -->
{% endblock %}
