<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</li></a>
            {% else %}
            <li><a href="{% url 'registration_register' %}">Make an account</li></a>
            <li><a href="{% url 'login' %}">Login</li></a>
            {% endif %}
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
