{% extends 'django_imager/base.html' %}

{% block content %}

<ul>
  <li>username: {{ profile.user.username }}</li>
  <li>email: {{ profile.user.email }}</li>
  <li>phone number: {{ profile.phone }}</li>
  <li>website: {{ profile.website }}</li>
  <li>location: {{ profile.location }}</li>
  <li>fee: {{ profile.fee }}/hr</li>
</ul>

<ul>
    <li>main camera: {{ profile.camera }}</li>
    <li>styles: 
        <ul>
            {% for style in profile.photo_style %}
            <li>{{ style }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>services:
        <ul>
            {% for service in profile.services %}
            <li>{{ service }}</li>
            {% endfor %}
        </ul>
    </li>
</ul>

{% if request.user.username == profile.user.username %}
<p>public total photo count: {{ pubpho }}</p>
<p>private photo count: {{ ppho }}</p>
<p>public album count: {{ pubalb }}</p>
<p>private album count: {{ palb }}</p>
{% else %}
<p>Link to this users albums.</p>
{% endif %}
{% endblock %}
